<!-- turismo/base.html -->
<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="{% static 'js/app.js' %}" defer></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" defer></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" defer></script>
</head>
<body>
    <header>
        <!-- Barra de Navegación -->
        <nav class="navbar navbar-expand-lg navbar-light bg-blue fixed-top">
            <a class="navbar-brand text-white" href="{% url 'turismo:index' %}">
                <img src="{% static 'imagenes/logo-epico.jpg' %}" width="60" height="60" alt="Logo de la empresa">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="{% url 'turismo:index' %}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'turismo:login' %}">Iniciar Sesión</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Menú
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'turismo:quienesomos' %}">Quiénes Somos</a>
                            <a class="dropdown-item" href="{% url 'turismo:nuestroservicios' %}">Nuestros Servicios</a>
                            <a class="dropdown-item" href="{% url 'turismo:productos' %}">Productos</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
